doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Katja Bregenzer

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Katja Bregenzer
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Profile picture')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#languages') Languages

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section.cover
                .side-bar
                .resume-section-content
                    h1.mb-0
                        | Katja
                        span.text-primary Bregenzer
                    .subheading.address.mt-2
                        div.col-4
                            i.fa.fa-map-marker
                            | Garagegatan 16f · 21251 Malmö
                        div.col-4
                            i.fa.fa-phone
                            | (046) 760852696
                    .subheading.address.mb-5.mt-2
                        div.col-4
                            i.fa.fa-envelope
                            a(href='mailto:katja.bregenzer@gmail.com') katja.bregenzer@gmail.com
                        div.col-4
                            i.fa.fa-calendar
                            | 18.12.1989

                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Profile picture')
                    p.lead.mb-5
                        | As an engineering manager I want to support my directs in their growth and enable the team to accomplish their goals.
                        | I want to be part of a team and contribute with own backend and frontend skills as well as observe my teammates in their element to give constructive feedback.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/katja-bregenzer-438232a6/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/BregenzerK')
                            i.fab.fa-github

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Engineering Manager/ Software Engineer
                            .subheading.mb-3 Lime Technologies AB
                            p.text-primary.time-span-print March 2021 - present
                            .subheading.mb-3 Responsibilities:
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Managing a team with up to 7 members: regular 1:1, reviews, personal development, building team spirit
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Scoping and preparing projects in collaboration with a product manager
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Project management within the Shape Up framework
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Contributing to projects as a software engineer

                            .subheading.mb-3.mt-3 Projects (excerpts):
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Email Integration: Automated system to import new messages from monitored accounts and reply from Lime CRM
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Electronic Signatures: Send documents for signing, track signers' status and send reminders
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Configure Price Quote (CPQ): Compose offers and generate quotes based on templates

                        .flex-shrink-0
                            span.text-primary.time-span March 2021 - present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Software Engineer
                            .subheading.mb-3 Lime Technologies AB
                            p.text-primary.time-span-print August 2018 - May 2021
                            .subheading.mb-3 Projects (excerpts):
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Web Client: Features and bug fixes for an Angular application with StencilJS components, e.g. add dialog, relationship picker, forgot password routine
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Task Handler: Asynchronous service for long running processes with custom task registration implemented with Celery (Python)
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Business Intelligence Integration: Seamless connection between a whitelabeled BI tool and Lime CRM
                        .flex-shrink-0
                            span.text-primary.time-span August 2018 - March 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Consultant / Software developer
                            .subheading.mb-3 BridgingIT GmbH
                            p.text-primary.time-span-print April 2015 - May 2018
                            .subheading.mb-3 Projects (excerpts):
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    |
                                    a(href='https://www.bosch-smarthome.com/') Webshop Bosch SmartHome:
                                    | Checkout, account management, internationalisation and subscriptions in a Spring/ Liferay environment as part of an international SRUM team
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Test automation with SOAP, REST and Selenium
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | FirstSpirit (CMS) migration and layout improvements
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Digital table soccer: Spring boot and Angular web application to manage games and show the latest scores

                        .flex-shrink-0
                            span.text-primary.time-span April 2015 - May 2018

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Hochschule der Medien
                            .subheading.mb-3 Master of Science
                            p Computer Science and Media
                            p.text-primary.time-span-print March 2013 - March 2015
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Software architecture and technology (personal focus: web applications)
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Technical aspects of multimedia
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | IT / software project management
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Working student/ tester at Diconium GmbH
                        .flex-shrink-0
                            span.text-primary.time-span March 2013 - March 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Reutlingen University
                            .subheading.mb-3 Bachelor of Science
                            p Media and Communication Informatics
                            p.text-primary.time-span-print October 2009 - February 2013
                            ul.fa-ul.mb-0
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Software development techniques in several programming languages and introduction to patterns
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Basics in databases, operating systems, network communication and project management
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Overview of media topic
                                li
                                    span.fa-li
                                        i.fas.fa-check
                                    | Semester abroad in Port Elizabeth, South Africa (Nelson Mandela University)
                        .flex-shrink-0
                            span.text-primary.time-span October 2009 - February 2013

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Management
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Team Management
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile project management

                    .subheading.mb-3.mt-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i(class="fab fa-python", title="Python")
                        li.list-inline-item
                            i(class="fab fa-html5" title="HTML5")
                        li.list-inline-item
                            i(class="fab fa-css3-alt" title="CSS3")
                        li.list-inline-item
                            i(class="fab fa-java" title="Java")
                        li.list-inline-item
                            i(class="fab fa-angular", title="Angular")
                        li.list-inline-item
                            i(class="fab fa-git" title="Git")
                        li.list-inline-item
                            i(class="fab fa-github", title="Github")
                        li.list-inline-item
                            i(class="fab fa-jenkins" title="Jenkins")
                        li.list-inline-item
                            i(class="fab fa-jira", title="Jira")
                        li.list-inline-item
                            i(class="fab fa-confluence" title="Confluence")

                    .subheading.mb-3.mt-3 Frameworks
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Flask, Celery
                        li
                            span.fa-li
                                i.fas.fa-check
                            | StencilJs
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Spring/ Spring Boot
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Test automation with Selenium, REST, SOAP

            // Languages
            section#languages.resume-section
                .resume-section-content
                    h2.mb-5 Languages
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | German: Native speaker
                        li
                            span.fa-li
                                i.fas.fa-check
                            | English: Fluent
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Swedish: Beginner


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
